html,body {
    height: 100%;
    margin: 0;
}

h1 {
    color: deepskyblue;
    text-align: center;
}

.subject {
    height: 100px;
    width: 100px;
    position: absolute;
}

#mainSubject {
    background-color: deepskyblue;
    bottom: 200px;
    left: 450px;
}

#box {
    background-color: darkcyan;
    bottom: 300px;
    left: 450px;
}

#target {
    background-color: brown;
    bottom: 400px;
    left: 750px;
}

button {
    display: block;
    font-size: xx-large;
    text-align: center;
    height: 150px;
    width: 150px;
}

#butt{
    position: absolute;
    bottom: 0;
    left: 0px;
    bottom: 150px;
}

#butt1{
    position: absolute;
    bottom: 150px;
    left: 150px;
}

#butt2{
    position: absolute;
    bottom: 0;
    left: 150px;
}

#butt3{
    position: absolute;
    bottom: 0;
    left: 0px;
    bottom: 0px;
}

#butt4{
    position: absolute;
    bottom: 0;
    left: 300px;
    bottom: 0px;
}